:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*GENERIC GLOBAL STYLES*/
#__next {
  min-height: 100vh;
}

.app_layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  background-color: aqua;
  /* height: 100px; */
}

.footer {
  background-color: burlywood;
  height: 100px;
}

.row-inner {
  width: 95vw;
  max-width: 1400px;
  margin: 0 auto;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar__middle {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
/*GENERIC GLOBAL STYLES*/
